
@{
    ViewData["Title"] = "Book";
}

  <div class="container-fluid" style="margin-top:15px">
    <h1 class="text-center">Список Литературы</h1>

  </div>
  <div class="row">
                <div class=" container-fluid">
                    <div class="container-xl text-center">
      
          <ol class="list-group list-group-numbered">
  <li class="list-group-item"> В. Олифер, Н. Олифер "Компьютерные сети. Принципы, технологии, протоколы. Учебник" (2016)</li>
  <li class="list-group-item"> Э. Таненбаум, Д. Уэзеролл "Компьютерные сети" 5-е изд. (2016)</li>
  <li class="list-group-item"> А. Сергеев "Основы локальных компьютерных сетей" (2016)</li>
  <li class="list-group-item"> Д. Куроуз, Т. Росс "Компьютерные сети. Настольная книга системного администратора" (2016)</li>
  <li class="list-group-item"> А. Робачевский "Интернет изнутри. Экосистема глобальной сети" (2017)</li>
</ol>
      </div>
  </div>