
@{
    Layout = "_Layout";
}
<div class="carousel slider" id="carouselControls" data-ride="carousel" >
    <div class="carousel-inner">
        <div class="carousel"-item>


        </div>
    </div>
</div>
