
@{
    ViewData["Title"] = "Teory";
}

<div class="container-fluid" style="margin-top:25px">
    <h1 class="text-center">TCP— Transmission Control Protocol</h1>

  </div>
  <div class="container-fluid"style="margin-top:35px;padding-right:15px;padding-left:20px">
      <div class="col-12 text-break text-start">
          <h6 >
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Обмен данными, ориентированный на соединения, может использовать надежную связь, 
          для обеспечения которой протокол уровня 4 посылает подтверждения о получении данных и запрашивает повторную передачу, если данные не получены или искажены. 
          Протокол TCP использует именно такую надежную связь. TCP используется в таких прикладных протоколах, как HTTP, FTP, SMTP и Telnet.<br>

Протокол TCP требует, чтобы перед отправкой сообщения было открыто соединение. Серверное приложение должно выполнить так называемое пассивное открытие (passive open), 
чтобы создать соединение с известным номером порта, и, вместо того чтобы отправлять вызов в сеть, сервер переходит в ожидание поступления входящих запросов. 
Клиентское приложение должно выполнить активное открытие (active open), отправив серверному приложению синхронизирующий порядковый номер (SYN), идентифицирующий соединение.
Клиентское приложение может использовать динамический номер порта в качестве локального порта.<br>

Сервер должен отправить клиенту подтверждение (ACK) вместе с порядковым номером (SYN) сервера. В свою очередь клиент отвечает АСК, и соединение устанавливается.<br>

После этого может начаться процесс отправки и получения сообщений. При получении сообщения в ответ всегда отправляется сообщение АСК.
Если до получения АСК отправителем истекает тайм-аут, сообщение помещается в очередь на повторную передачу.<br>
          </h6>
          </div>
          <div class="container-fluid" style="margin-top:25px">
    <h5 class="text-center">Поля заголовка TCP перечислены в следующей таблице:</h5>

  </div>
          <div class="row">
                <div class=" container-fluid">
                    <div class="container-xl text-center">
                      <table class="table"align="justify">
                       <thead>
                        <tr>
                            <th scope="col">Поле</th>
                            <th scope="col">Длина</th>
                            <th scope="col">Описание</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Порт источника</td>
                            <td>2 байта</td>
                            <td>Номер порта источника</td>
                        </tr>
                        <tr>
                            <td>Порт назначнения</td>
                            <td>2 байта</td>
                            <td>Номер порта назначения</td>
                        </tr>
                            <tr>
                            <td>Последовательный номер</td>
                            <td>4 байта</td>
                            <td>Последовательный номер генерируется источником и используется назначением,<br> 
                            чтобы переупорядочить пакеты для создания исходного сообщения и отправить подтверждение источнику.</td>
                        </tr>
                        <tr>
                            <td>Номер подтверждения</td>
                            <td>4 байта</td>
                            <td>Если установлен бит АСК поля "Управление", в данном поле содержится следующий ожидаемый последовательный номер.</td>
                        </tr>
                        <tr>
                            <td>Смещение данных</td>
                            <td>4 бита</td>
                            <td>Информация о начале пакета данных.</td>
                        </tr>
                        <tr>
                            <td>Резерв</td>
                            <td>6 битов</td>
                            <td>Резервируются для будущего использования.</td>
                        </tr>
                            <tr>
                            <td>Управление</td>
                            <td>6 битов</td>
                            <td>Биты управления содержат флаги, указывающие,  верны ли поля подтверждения<br>
                                (АСК), указателя срочности (URG), следует ли сбрасывать соединение (RST),<br>
                                послан ли синхронизирующий последовательный номер (SYN) и т. д.</td>
                        </tr>
                        <tr>
                            <td>Размер окна</td>
                            <td>2 байта</td>
                            <td> этом поле указывается размер приемного буфера. Используя<br>
                                подтверждающие сообщения, получатель может информировать отправителя о<br> 
                                максимальном размере данных, которые тот может отправить.</td>
                        </tr>
                        <tr>
                            <td>Контрольная сумма</td>
                            <td>2 байта</td>
                            <td>Контрольная сумма заголовка и данных; по ней определяется, был ли искажен пакет.</td>
                        </tr>
                        <tr>
                            <td>Указатель срочности</td>
                            <td>2 байта</td>
                            <td>В этом поле целевое устройство получает информацию о срочности данных.</td>
                        </tr>
                            <tr>
                            <td>Опции</td>
                            <td>переменная</td>
                            <td>Необязательные значения, которые указываются при необходимости.</td>
                        </tr>
                        <tr>
                            <td>Дополнение</td>
                            <td>переменная</td>
                            <td>В поле дополнения добавляется столько нулей, чтобы заголовок заканчивался на 32-битной границе.</td>
                        </tr>

                        </tbody>
                        </table>
                </div>
             </div>
           </div>
      </div>