@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>
<form method="post">
<div asp-validation-summary="All"></div>
<div>
    <label class="text-center">Заголовок статьи</label>
    <div>
        <textarea class="form-control col-2" id="exampleFormControlTextarea1" rows="1" name="Header"></textarea>
    </div>
</div>
<div>
    <div class="mb-3">
        <label class="form-label">Текст статьи</label>
        <textarea class="form-control" rows="6" name="Text"></textarea>
    </div>
</div>
<div>
    <input type="submit" value="Сохранить" />
</div>
</form>
