@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers
@model News.Models.ArticleViewModel
@{
    ViewData["Title"] = "Edit";
}
<form asp-action="Edit" asp-controller="Admin" asp-route-id="@Model.NewsId"> 
    <div>
        <label class="text-center">Заголовок статьи</label>
        <div>
            <textarea class="form-control" type="text" rows="1"  asp-for="NewsHeader"></textarea>
        </div>
    </div>
    <div>
        <div class="mb-3">
            <label  class="form-label">Текст статьи</label>
            <textarea class="form-control" type="text" rows="6"  asp-for="NewsText"></textarea>
        </div>
    </div>
    <div>
        <input  type="submit" value="Сохранить" />
    </div>
</form>