@{
    ViewData["Title"] = "News";
}

  <div class="container-fluid">
    <h1 class="text-center">@Model.NewsHeadr</h1>
  </div>
  <div class="container-fluid">
      <div class="col-12 text-break text-start">
          <p class="fs-3 text">
          &nbsp;&nbsp;&nbsp;&nbsp;@Model.NewsText
          </p>
      </div>
  </div>